
@media screen and (max-width: 700px) {
  header{
    background-color: white;
  }
  .wrap::after{
    height: 30%;
    border-radius: 0;
  }
  .pager-btn {
    cursor: pointer;
    padding: 3px 8px;
    background-color: #e7e9ec;
    color: #434343;
    border: none;
    margin: 0 5px;
    border-radius: 5vw;
  }
    .header_top {
      flex-direction: column;
      align-items: center;
      background-color: white;
    }
    .top_left {
      padding: 10px 4px;
      font-size: 0.8rem;
      color: #434343;
      font-weight: 600;
    }
    .top_left_tx {
      margin-left: 6px;
      font-size: 12px;
    }
    .top_right {
      display: none;
    }
    .header_bottom {
   /*    justify-content: center; */
   height: 3rem;
      padding: 10px 0;
    }
    .logo {
      width: 50%;
      text-align: center;
      padding: 0;
     /*  margin-bottom: 10px; */
    }
    .logo img:nth-child(1) {
      width: 1.8rem;
    }
    .logo > h1 a {
      font-size: 1.5rem;
      margin-left: 10px;
      letter-spacing: 1.5px;
      color: #434343;
    }
    .logo h1 + img {
      display: none;
    }
    
    .lss {
      display: none;
    }
    .header_gnb {
      display: none;
    }
    .popup {
      width: 90%;
      left: 5%;
    }
    .header_gnb .w100 {
      top: 44px;
    }
    .Newsearch-none{
      display: none;
    }
    .btn2{
      display: block;
    }
    .section_1 {
      width: 100%;
      height: 45vw;
      margin: auto;
    }
    .slidebox div a {
      height: 42vw;
      display: block;
      text-indent: -9999px;
      
      
    }
    .pager-buttons {
      text-align: center;
      height: 4vw;
      background: rgba(255, 255, 255, 0);
      margin-bottom: 2vw;
  }
  .custom-prev, .custom-next {
    z-index: 9999;
    width: 4vw;
    height: 4vw;
}
.section_3{
width: 100%;
height: 72vw;
}
.section3_top{
  margin-top: 5vw;
  height: 2vw;
/*   margin-bottom: 3vw; */
}
.section3_top_left{
  width: 75%;
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
}
.section3_top_left a{
  font-size: 4.5vw;
  margin-right: 3vw;
}
.red1,.red2,.red3{
  bottom: 5px;
  right: 6px;
  width: 1.4vw;
  height: 1.4vw;
}
.red4{
  bottom: 3px;
  right: -10px;
  width: 1.4vw;
  height: 1.4vw;
}
.section3_top_box_right_box {
  width: 12vw;
  height: 4.5vw;
  border-radius: 2rem;
  line-height: 4.5vw;
}
.section3_top_box_right_box a {
  font-size: 2.2vw;
  color: #434343;
}
 .btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
}
/* 섹션 3 아래 */
.section3_bottom2 {
  position: relative;
  width: 100%;
  height: 53vw;
 /*  overflow: hidden; */
  display: block;
}

.box1,.box2,.box3 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
  
}
.section3_bottom_box1,.section3_bottom_box2,.section3_bottom_box3 {
  flex: 0 0 100%; /* 각 박스의 너비를 설정합니다. */
  max-width: 99%; /* 최대 너비를 설정해줄 수도 있습니다. */
  height: 100%;
  
}
.section3_bottom_box1:hover {
  transform: scale(1);
}
.boxs_3 {
  width: 100%;
  margin: auto;
  height: 100%;
}

.section3_bottom_box1 > div .sort,.section3_bottom_box2 > div .sort,.section3_bottom_box3 > div .sort {
  margin-top: 5vw;
  margin-left: 4vw;
  width: 15vw;
  height: 5vw;
  font-size: 2.5vw;
  line-height: 5vw;
  border-radius: 1rem;
}

.section3_bottom_box1 > div .title,.section3_bottom_box2 > div .title,.section3_bottom_box3 > div .title {
  margin-top: 5vw;
  margin-left: 4vw;
  font-size: 4vw;
  width: 90%;
  height: 4vw;
  font-weight: 600;
}

.section3_bottom_box1 > div .text,.section3_bottom_box2 > div .text,.section3_bottom_box3 > div .text {
  width: 90%;
  height: 15vw;
  margin-top: 4vw;
  margin-left: 4vw;
  line-height: 3vw;
  font-size: 2.8vw;
}

.section3_bottom_box1 > div .date,.section3_bottom_box2 > div .date,.section3_bottom_box3 > div .date {
  width: 2%;
  position: relative;
  right: -72vw;
  bottom: -5vw;
  padding: 0 1.5vw;
  line-height: 1.5vw;
  color: #434343;
  font-size: 2.2vw;
}
/* //1 */

.section3_bottom_box2:hover {
  transform: scale(1);
}
.section3_bottom_box3:hover {
  transform: scale(1);
}

/* 슬라이드버튼 */
.slide-left{
  display: block;
  position: relative;
  top: 33vw;
  transform: translateY(-50%);
  z-index: 1;
  left: -5px;
  background: rgba(0, 0, 0, 0.35) url(../img/moslider1_prev.png);
  width: 34px;
    height: 34px;
    background-size: 100% !important;
    border-radius: 100%;
}
.slide-right{
  display: block;
  position: absolute;
  top: 33vw;
  transform: translateY(-50%);
  z-index: 1;
  right: -5px;
  background: rgba(0, 0, 0, 0.35) url(../img/moslider1_next.png);
  width: 34px;
    height: 34px;
    background-size: 100% !important;
    border-radius: 100%;
}
.x {
  display: none;
}
.section3_bottom2{
  display: block;
}
.section3_bottom_box1:hover {
  transform: scale(1);
}

.section_4{
  padding: 7vw 0;
  height: 180vw;
}
.src4{
  display: flex;
  flex-direction: column;
}
.section_4_lefe{
  width: 100%;
  margin-bottom: 7vw;
}
.section_4_lefe_top h3{
  font-size: 4.5vw;
  margin-bottom: 3vw;
}
.section_4_lefe_top_button{
  width: 12vw;
    height: 4.5vw;
    border-radius: 2rem;
    line-height: 4.5vw;
    background: #dde5f1;
    text-align: center;
    font-size: 2.2vw;
    color: rgb(67, 67, 67);
}
.section_4_lefe_bottom{
  height: 100%;
}
.section_4_lefe_bottom_img img {
  width: 44vw;
  border-radius: 3vw;
}
.section_4_center{
  width: 100%;
  margin-bottom: 7vw;
}

.section_4_center_top {
  width: 100%;
  height: 7vw;
  border-bottom: 2px solid #d8dfe5;
}
.section_4_center_top h3 {
  width: 22%;
  font-size: 4.5vw;
  font-weight: 600;
}
.section_4_center_text {
  height: 30vw;
  padding-right: 48%;
  font-size: 3vw;
}
.name {
  margin-bottom: 1.5vw;
  font-size: 5vw;
  line-height: 1;
}
.name span {
  margin-top: 1.5vw;
  margin-bottom: 0.8vw;
  font-size: 2.6vw;
  letter-spacing: -0.5px;
}
.section_4_center_bottom {
  margin-top: 1vw;
  height: 10vw;
  padding: 0 55% 0 3%;
  background: #47467b;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.section_4_center_bottom a {

  font-size: 3vw;
  letter-spacing: -1px;
}
.section_4_center img {
  right: 7vw;
  bottom: 1vw;
  width: 44vw;
  max-width: 290px;
  position: absolute;
}
.section_4_right{
  width: 100%;
}
.section_4_right_top{
  height: 7vw;
}
.section_4_right_top h3 {
  font-size: 4.5vw;

}
.section_4_right_top_button {
  margin-top: 2vw;
  width: 15vw;
  height: 5vw;
}
.section_4_right_top_button>.section_6_lefe_top_button_1{
  width: 15vw;
  height: 5vw;
  display: flex;
  justify-content: space-between;
}
.section_4_right_top_button>.section_6_lefe_top_button_1>.control {
  width: 8vw;
  height: 5vw;
}
.swiper {
  margin-top: 2vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 3vw;
}
.slide-count{
  width: 20vw;
  margin-top: 1vw;
  font-size: 3vw;
}
.control{
  width: 8vw;
  height: 5vw;
}
.section_6{
  margin-top: 5vw;
  width: 100%;
  height: 394vw;
}
.w1750_2{
  display: flex;
  flex-direction: column;
}
.section_6_lefe{
  width: 100%;
  height: 102vw;
  margin: 0;
}
.section_6_lefe_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 7vw;
}
.section_6_lefe_top h3 {
  font-size: 4.5vw;
  margin-bottom: 1vw;
}
.section_6_lefe_top_button_2{
  margin-top: 2vw;
  width: 8vw;
  height: 5vw;
}
.control{
  width: 2.5vw;
}
.section_6_lefe_bottom {
  margin-top: 2vw;
  width: 100%;
  height: 95vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.ml{
  height: 111vw;
}
.mt{
  margin-top: 5vw;
}
.mb{
  height: 93vw;
}
.ml2{
height: 105vw;
}
.section_6_lefe_top_button_3{
  margin-top: 2vw;
  width: 8vw;
  height: 5vw;
}
.section_6_lefe_bottom_img {
  width: 100%;
  overflow: hidden;
  border-radius: 3vw;
}
.section_6_right {
  width: 100%;
}
.section_6_right_top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 10vw;
  position: relative;
}
.section_6_right_top h3 {
  font-size: 4.5vw;
  margin-bottom: 1vw;
}
.src6_main-app1 {
  margin-left: 5vw;
  width: 15vw;
  display: flex;
  align-items: center;
  margin-bottom: 0.8vw;
  gap: 3vw;
}
.src6_main-app1 img {
  height: 3.2vw;
}
.section_6_right_top_button {
  position: absolute;
right: 0;
bottom: 0;
  width: 18vw;
  height: 5.5vw;
}
.s6-slide-count {
  width: 8.8vw;
  margin-top: 1vw;
  font-size: 3vw;
}
.section_6_right_bottom {
  width: 100%;
  height: 61vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(237, 240, 242);
  border-radius: 1vw;
  box-shadow: rgba(221, 221, 221, 0.3) 2px 2px 8px 2px;
}
.section_6_right_bottom_textbox_tx1 {
  width: 100%;
  padding: 1vw 0px 1vw 2vw;
  border-bottom: 1px dashed rgb(221, 221, 221);
  display: block;
  height: auto;
  line-height: 6vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section_6_right_bottom_textbox_tx1 p {
  width: 95%;
  font-size: 3vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
height: 65vw;
}
.Newfoot-top {
  padding: 1vw 0;
  border-bottom: 1px solid #565463;
  display: flex;
  flex-direction: column;
  align-items: normal
}
.Newfoot-meun1 {
    width: 100%;
}
.Newfoot-meun1 > ul {
  margin-top: 3vw;
  margin-left: -4.4vw;
}
.Newfoot-meun1 > ul > li.on > a {
  color: #eeeb00;
  font-weight: 800;
  font-size: 4vw;
}
.Newfoot-meun1 > ul > li {
  float: left;
  margin: 3vw 0;
  padding-left: 7vw;
  background: url(https://www.unikorea.go.kr/unikorea/common/images/2022/foot_bg1.png) no-repeat left 4vw center;
}
.Newfoot-meun1 > ul > li > a {
  display: block;
  color: #fff;
  font-size: 3vw;
  line-height:2vw;
}
.Newfoot-select1 {
  margin-top: 3vw;
  width: 98%;
}
.Newfoot-select1 > ul {
  display: flex;
  flex-direction: column;
}
.Newfoot-select1 > ul > li {
  float: left;
  width: 100%;
  height: 8vw;
  margin: 6px 3px 0;
  position: relative;
}
.Newfoot-select1 > ul > li > a {
  position: relative;
  padding: 0 4vw 0 4vw;
  color: #fff;
  font-size: 3vw;
  height: 100%;
  line-height: 1.2;
  background: #4c495f;
  display: flex;
  align-items: center;
  border-radius: 3vw;
}
.Newfoot-select1 > ul > li > a::after {
    top: calc(50% - 3.5px);
    right: 3vw;
    width: 3vw;
    height: 1.5vw;
    content: "";
    background: url(../img/foot_bg1.png) 0% 0% / cover no-repeat;
}
.Newfoot-select1 .show-box1 {
  width: 90%;
  max-height: 35vw;
  padding: 2vw 4vw;
  border-radius: 2vw 2vw 0px 0px;
}
.Newfoot-select1 .show-box1 > a {
  font-size: 3vw;
  padding-bottom: 1.5vw;
}
.Newfoot-copy1 {
  color: #fff;
  font-size: 2.6vw;
  line-height: 1.7;
}
.validation {
display: none;
}
.popup {
  position: fixed;
  width: min(60%, 500px);
  padding: 5% 2%;
  font-size: 3vw;
  line-height: 1.75;
  background: #fff;
  z-index: 999999;
  top: 10%;
  left: 20%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: gray;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  border-radius: 15px;
}
}
