@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 레이아웃 */
body {
  font-family: "Pretendard-Regular";
}
header,
main,
footer {
  width: 100%;
}
hr {
  margin: 0;
  border-top: 1px solid #b1b8d9;
}
.inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
/* //레이아웃 */
.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 18px;
  line-height: 1.75;
  background: #fff;
  z-index: 999999;
  top: 10%;
  left: 35%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: gray;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  border-radius: 15px;
}
header {
  background: white;
  height: 150px;
}
.header_top {
  max-width: 1200px;
  width: 100%;
  background: white;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top_left {
  background: white;
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.top_left img {
  height: 50px;
  width: 50px;
}
.top_left_tx {
  margin-left: 10px;
}
.top_right {
  background: white;
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top_right span {
  font-size: 14px;
  margin: auto;
}
.header_bottom {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
}
.logo {
  background: white;
  height: 100px;
  width: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo > h1 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}
.logo > h1 a {
  color: black;
}
.logo > .logo_img1 {
  height: 70%;
}
.logo > .logo_img2 {
  height: 50%;
  margin-left: 10px;
}
.header_gnb {
  background: white;
  height: 100px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header_gnb li {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  height: 100%;
}
.header_gnb > li > a {
  line-height: 100px;
  color: black;
  font-size: 20px;
  font-weight:600;
}
/* gnb 1뎁스 */
.header_gnb li:hover {
  color: #30488c;
}
.header_gnb li a:hover {
  color: #30488c;
}
.header_gnb .w100 {
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  top: 9.4rem;
  height: 0px;
  overflow: hidden;
  padding: 0 0;
  transition: padding 0.5s;
  box-shadow: 0 2px 2px rgb(0, 0, 0 / 7%);
  z-index: 1000;
}
.header_gnb li:hover .w100 {
  height: auto;
  padding: 20px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
/* gnb 2뎁스  */
.header_gnb li .inner {
  display: flex;
}
.header_gnb li ul li {
  width: 200px;
  margin: clamp(8px, 33px, 0px) 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.header_gnb li ul li dl dd a {
  color: #333;
  font-size: 1em;
  font-weight: bold;
  line-height: 180%;
}
.header_gnb li ul li h3 {
  margin-top: 10px;
  border: 1px solid #bebebe;
  display: flex; /* 새로 */
}
.header_gnb li ul li h3 a {
  color: black;
  font-weight: bold;
  line-height: 200%;
  margin-bottom: 3px;
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header_gnb li ul li dl dd {
  margin-bottom: 3px;
}
.header_gnb li ul li dl dt {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header_gnb li ul li dl dt a {
  color: #666666;
  font-size: 14px;
  line-height: 170%;
  padding-left: 5px;
}
/* //투뎁스 */
.full_menu {
  width: 8%;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.full_menu img {
  height: 50%;
}
/* //헤더 */
main {
  background: white;
}
.section_1 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 400px;
  border-radius: 25px;
}

.main_banner {
  width: 1000px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.main_banner > div[class*="slide"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1.5s;
  border-radius: 25px;
}
.main_banner > div[class*="slide"].on {
  opacity: 1;
}
.slide1 {
  background: url(../img/CAIS_HPIS_1.jpg) no-repeat center;
  background-size: cover;
  border-radius: 25px;
}
.slide2 {
  background: url(../img/CAIS_HPIS_2.jpg) no-repeat center ;
  background-size: cover;
  border-radius: 25px;
}
.slide3 {
  background: url(../img/CAIS_HPIS_3.jpg) no-repeat center /* top/cover */;
  background-size: cover;
  border-radius: 25px;
}
.section_2 {
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 240px;
}
.main_top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin: 25px;
}
.main_top_box1 {
  width: 12%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #30488c;
  color: white;
}
.main_top_box1 a {
  color: white;
}
.main_top_box2 {
  width: 12%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  border-radius: 20px;
  border: 2px solid #30488c;
  font-size: 18px;
  font-weight: 500;
  color: #30488c;
}

.main_top_box2 a {
  color: #30488c;
}

.main_top_box3 {
  width: 12%;
  height: 40px;
  margin: 10px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #30488c;
  color: white;
}
.main_top_box3 a {
  color: white;
}
.main_top_box1:hover{
  transform: scale(1.1);
}
.main_top_box2:hover{
  transform: scale(1.1);
}
.main_top_box3:hover{
  transform: scale(1.1);
}
.main_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.mian_bottom_boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_box {
  background: #e0ebfa;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.bottom_box:hover{
  transition: all 0.5s linear;
  transform: scale(1.1);
}
.bottom_box img {
  margin-top: 20px;
  margin-left: 20px;
}
.main_bottom span {
  margin: 20px;
  color: black;
}
/* 섹션 3  */
.section_3 {
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 100%;
}
.section3_top {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section3_top_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.red1 {
  bottom: 1px;
  width: 12px;
  height: 12px;
  background: #c83e65;
  content: "";
  border-radius: 25px;
  display: none;
}
.red2 {
  bottom: 1px;
  width: 12px;
  height: 12px;
  background: #c83e65;
  content: "";
  border-radius: 25px;
  display: none;
}
.red3 {
  bottom: 1px;
  width: 12px;
  height: 12px;
  background: #c83e65;
  content: "";
  border-radius: 25px;
  display: none;
}
.section3_top_left a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.section3_top_box_right_box {
  width: 85px;
  height: 30px;
  background: #e0ebfa;
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
}

.section3_top_box_right_box a {
  color: black;
  font-size: 13px;
}
.section3_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 240px;
}
.box1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3_bottom_box {
  width: 285px;
  height: 240px;
  border: 1px solid #eceff2;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 2px rgba(221, 221, 221, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section3_bottom_box:hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
}
.boxs_3 {
  margin: auto;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
}
.section3_bottom_box > div .sort {
  width: 78px;
  height: 28px;
  background: #e0ebfa;
  color: #434343;
  font-size: 11px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
}
.section3_bottom_box > div .title {
  margin: 14px 0 10px;
  color: #434343;
  font-size: 22px;
  font-weight: 500;
  overflow: hidden;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.section3_bottom_box > div .text {
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #6e6e6e;
  line-height: 1.4;
  font-size: 14px;
}
.section3_bottom_box > div .date {
  position: absolute;
  right: -20px;
  bottom: 5px;
  padding: 0 24px;
  line-height: 1;
  padding-top: 10px;
  color: #434343;
  font-size: 14px;
}

/* 섹션4 */
.section_4 {
  padding: 40px 0;
  width: 100%;
  margin: auto;

  background: #e9f0f7;
  border-radius: 0 200px 0 0;
}
.section_4_inner {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
}
/* 섹션4 레프트 */
.section_4_lefe {
  width: 50%;
}
.section_4_lefe_top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
.section_4_lefe_top h3 {
  color: #404040;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section_4_lefe_top_button {
  margin-bottom: 8px;
  width: 85px;
  height: 30px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  background: #dde5f1;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
}
.section_4_lefe_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.section_4_lefe_bottom_img {
  overflow: hidden;
  border-radius: 15px;
}
.section_4_lefe_bottom_img img {
  width: 267px;
  border-radius: 15px;
}
.section_4_lefe_bottom_img img:hover {
  transition: all 0.7s linear;
  transform: scale(1.1);
}
/* 섹션4 센터 */
.section_4_center {
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
.section_4_center_top {
  width: 100%;
  height: 37px;
  border-bottom: 2px solid #d8dfe5;
}
.section_4_center_top h3 {
  color: #404040;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section_4_boxs {
  width: 100%;
  height: 213px;
}
.section_4_center_text {
  height: 70%;
  padding-right: 48%;
  color: #434343;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
}
.name {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -2px;
  word-break: keep-all;
}
.name span {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.name strong {
  font-weight: bold;
}
.section_4_center_bottom {
  height: 20%;
  padding: 0 55% 0 5.5%;
  background: #47467b;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.section_4_center_bottom a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -1px;
}
.section_4_center img {
  right: 0;
  bottom: 50px;
  width: 53%;
  max-width: 290px;
  position: absolute;
}
/* 섹션 4 오른쪽 */
.section_4_right {
  width: 20%;
}
.section_4_right_top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
.section_4_right_top h3 {
  color: #404040;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section_4_right_top_button {
  margin-bottom: 5px;
  width: 50px;
  height: 30px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
}
.section_4_right_bottom {
  width: 100%;
  display: flex;
  height: 194px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.section_4_right_bottom_img img {
  width: 100%;
  border-radius: 15px;
}
.section_4_lefe_bottom_img img:hover {
  transition: all 0.7s linear;
  transform: scale(1.1);
}
/* 섹션 6 */
.section_6 {
  padding: 40px 0px 5px 0px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 330px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}
.section_6_lefe {
  width: 21%;
}
.section_6_lefe_top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
.section_6_lefe_top h3 {
  color: #404040;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section_6_lefe_top_button {
  margin-bottom: 8px;
  width: 85px;
  height: 30px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  background: #dde5f1;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
}
.section_6_lefe_top_button_1 {
  margin-bottom: 5px;
  width: 50px;
  height: 30px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
}
.section_6_lefe_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.section_6_lefe_bottom_img{
  overflow: hidden;
  border-radius: 15px;
}
.section_6_lefe_bottom_img img {
  width: 100%;
  border-radius: 15px;
  transition: all 0.7s linear;
}
.section_6_lefe_bottom_img:hover img{
  transform: scale(1.1);
}
.section_6_right {
  width: 29%;
}
.section_6_right_top {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
.section_6_right_top h3 {
  color: #404040;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section_6_right_top_button {
  margin-bottom: 8px;
  width: 85px;
  height: 30px;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  background: #dde5f1;
  text-align: center;
  line-height: 30px;
  border-radius: 25px;
}
.section_6_right_bottom {
  width: 100%;
  height: 252px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 1px solid #edf0f2;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(221, 221, 221, 0.3);
}
.section_6_right_bottom_textbox {
  width: 96%;
  margin: auto;
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section_6_right_bottom_textbox_tx1 {
  width: 90%;
  height: 20px;
  padding: 10px 0;
  border-bottom: 1px dashed #ddd;
  display: block;
  height: auto;
  padding-left: 32px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section_6_right_bottom_textbox_tx1 p {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* //섹션6 */
.section_5 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.s5_top {
  width: 100%;
  border: 1px solid #b1b8d9;
  height: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #f6f7fb;
}
.s5_h3_box {
  width: 80px;
  height: 42px;
}
.s5_h3 {
  text-align: center;
}
.s5_h3_imgs {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.s5_top_box {
  width: 12%;
  height: 40px;
  border: 0.5px solid #b1b8d9;
  background-color: white;
  text-align: center;
}
.s5_top_box > a {
  line-height: 40px;
  color: black;
  font-size: 14px;
}

.s5_bottom {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.s5_botton_box {
  width: 230px;
  height: 37px;
  border: 1px solid #b1b8d9;
  background-color: #f6f7fb;
  text-align: center;
}
.s5_botton_box a {
  line-height: 37px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

/* //메인 */
footer {
  border-top: 1px solid #b1b8d9;
  /*  background: gray; */
}
.footer_1 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.f_top {
  width: 100%;
  height: 40px;
  display: flex;
}
.f_top_box {
  width: 16.6%;
  height: 40px;
  background: white;
  border: 1px solid #b1b8d9;
  text-align: center;
  line-height: 40px;
}
.footer_2 {
  border-top: 1px solid #b1b8d9;
}
.f_bottom {
  margin-top: 5px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 100px;
  margin-top: 5px;
}
.f_bottom_box{
  width: 100%;
  margin-top: 20px;
}
