@charset "utf-8";
/* 레이아웃 */
header,
main,
footer {
  width: 100%;
}
hr {
  margin: 0;
}
.inner {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
/* //레이아웃 */
.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 18px;
  line-height: 1.75;
  background: #fff;
  z-index: 999999;
  top: 10%;
  left: 35%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: gray;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  border-radius: 15px;
}
header {
  background: white;
  height: 150px;
}
.header_top {
  max-width: 1200px;
  width: 100%;
  background: white;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top_left {
  background: white;
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.top_left img {
  height: 50px;
  width: 50px;
}
.top_left_tx {
  margin-left: 10px;
}
.top_right {
  background: white;
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top_right span {
  font-size: 14px;
  margin: auto;
}
.header_bottom {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
}
.logo {
  background: white;
  height: 100px;
  width: 22%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo > h1 {
  font-size: 180%;
  font-weight: bold;
  margin-left: 10px;
}
.logo > h1 a{
  color: black;
}
.logo > .logo_img1 {
  height: 70%;
}
.logo > .logo_img2 {
  height: 50%;
  margin-left: 10px;
}
.header_gnb {
  background: white;
  height: 100px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header_gnb li {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 20px;
}
.header_gnb li a{
  color: black;
} 
/* gnb 1뎁스 */
.header_gnb li a:hover{
  color: #30488c;
}
.header_gnb .w100{
  position: absolute;
  width: 100%;
  background-color: #e0ebfa ;
  left: 0;
  top: 9.4rem;
  height: 0px;
  overflow: hidden;
  padding: 0 0;
  transition: padding 0.5s;
  box-shadow: 0 2px 2px rgb(0, 0, 0 / 7%);
}
.header_gnb li:hover .w100{
  height: auto;
  padding: 20px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
/* gnb 2뎁스  */
.header_gnb li .inner{
  display: flex;
}
.header_gnb li ul li {
  width: 200px;
  margin: 0;
  border-left: 1px solid #c9c9c9;
  padding-left: 10px;
  padding-right: 10px;
  display:  flex;
  flex-direction: column;
  border-right: 1px solid #c9c9c9;
}
.header_gnb li ul li dl dd a {
  color: #333;
  font-size: 1em;
  font-weight: bold;
  line-height: 180%;
}
.header_gnb li ul li h3 {
  margin-top: 10px;
}
.header_gnb li ul li h3 a {
  color: black;
  font-weight: bold;
  line-height: 200%;
  margin-bottom: 3px;
  font-size: 0.8em;
}
.header_gnb li ul li dl dd{
  margin-top: 3px;
}
.header_gnb li ul li dl dt a {
  color: #666666;
  font-size: 0.65em;
  line-height: 170%;
  padding-left: 5px;
}
/* //투뎁스 */
.full_menu {
  width: 8%;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.full_menu img {
  height: 50%;
}
/* //헤더 */
main {
  background: white;
}
.section_1 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 500px;
}
.main_banner {
  width: 100%;
  height: 100%;
}
.main_banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.section_2 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 300px;
}
.main_top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin: 25px;
}
.main_top_box1 {
  width: 15%;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #30488c;
  color: white;
}
.main_top_box1 a {
  color: white;
}
.main_top_box2 {
  width: 15%;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  border-radius: 20px;
  border: 2px solid #30488c;
  font-size: 20px;
  font-weight: bold;
  color: #30488c;
}
.main_top_box2:hover{
  background: yellow;
}
.main_top_box2 a {
  color: #30488c;
}

.main_top_box3 {
  width: 15%;
  height: 50px;
  margin: 10px;
  line-height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #30488c;
  color: white;
}
.main_top_box3 a {
  color: white;
}
.main_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.mian_bottom_boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom_box {
  background: #e0ebfa;
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.bottom_box img {
  margin-top: 20px;
  margin-left: 20px;
}
.main_bottom span {
  margin: 20px;
  color: black;
}
.section_3 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 500px;
  display: flex;
}
.section_left {
  width: 25%;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: #e0ebfa;
  border-radius: 20px;
}
.section_left_2 {
  width: 25%;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: #e0ebfa;
  border-radius: 20px;
}
.section_right {
  width: 40%;
  height: 350px;
  margin: auto;
}
.section_right img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.s3_left_top {
  width: 95%;
}
.s3_left_bottom {
  width: 95%;
  height: 70%;
}
.h3_1 {
  width: 100%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 50%;
}
.s3_left_bottom_icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}
.s3_left_bottom_icon {
  height: 25%;
  border: 1px solid;
  margin-top: 5px;
}
.s3_left_bottom_icon img {
  width: 30px;
  height: 30px;
  margin: auto;
}
/* 섹션3_2 */

.s3_left_top_2 {
  width: 95%;
}
.s3_left_bottom_2 {
  width: 95%;
  height: 70%;
}
.h3_2 {
  width: 100%;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 50%;
}
.s3_left_bottom_icons_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
}
.s3_left_bottom_icon_2 {
  height: 25%;
  border: 1px solid;
  margin-top: 5px;
}
.s3_left_bottom_icon_2 img {
  width: 30px;
  height: 30px;
}

/* 섹션4 */
.section_4 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 300px;
}
.s4_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
  border: 1px solid;
}
.s4_top_box {
  width: 15%;
  height: 80%;
  border: 1px solid;
  margin-left: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 17px;
  font-weight: bold;
}
.s4_bottom {
  width: 100%;
  height: 80%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 45px;
}
.s4_bottom_box {
  width: 100%;
  height: 18%;

  margin-left: 15px;
}
.section_5 {
  max-width: 1200px;
  width: 100%;
  border: 1px solid;
  margin: auto;
  background: skyblue;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.s5_top {
  width: 96%;
  border: 1px solid;
  height: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.s5_h3 {
  height: 100%;
  width: 6%;
  text-align: center;
}
.s5_top_box {
  width: 12%;
  height: 70%;
  background: white;
}
.s5_bottom {
  width: 96%;
  border: 1px solid;
  height: 20%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.s5_botton_box {
  width: 18%;
  height: 70%;
  background: white;
}
/* //메인 */
footer {
  background: gray;
}
.footer_1 {
  max-width: 1200px;
  width: 100%;
  border: 1px solid;
  margin: auto;
  background: red;
  height: 200px;
}
.f_top {
  width: 100%;
  height: 50px;
  border: 1px solid;
  display: flex;
  margin-top: 20px;
}
.f_top_box {
  width: 16.6%;
  height: 50px;
  background: white;
  border: 1px solid;
}
