@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 레이아웃 */
body {
  font-family: "Pretendard-Regular";
}
header,
main,
footer {
  width: 100%;
}
main{
    background-color: white;
}

.w1500{
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    padding-bottom: 5vw;
    display: flex;
    background: url(../img/sub_bg1.gif)repeat-y left top;
}
.w1750{
  margin: 0 auto;
  width: calc(100% - 30px);
  max-width: 1750px;
  position: relative;
}
.w1750_3{
  width: 100%;
  position: relative;
}
.header_top>div{
display: flex;
justify-content: space-between;
}
.wrap::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22vw;
  background: linear-gradient(to right, #c10024, #0055ac);
  content: "";
  border-radius: 0 0 0 200px;
  z-index: -1;
}
hr {
  margin: 0;
  border-top: 1px solid #babcc2;
}
.inner {
  width: 100%;
  margin: auto;
}
.inner2 {
  width:100%;
  max-width: 800px;
  margin: auto;
  display: none;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}
/* //레이아웃 */
.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 18px;
  line-height: 1.75;
  background: #fff;
  z-index: 999999;
  top: 10%;
  left: 35%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background: gray;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  border-radius: 15px;
}
.header_top {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.2);
}
.top_left {
  float: left;
  padding: 10px 8px;
  color: #fff;
  font-size: 0.8vw;
  line-height: 20px;
}
.top_left_tx {
  margin-left: 10px;
  font-size: 0.7vw;
  color: white;
}
.top_right {
  display: flex;
  align-items: center;
}
.top_right li:nth-child(1){
  position: relative;
  padding-right: 2.5vw;
  font-size: 0.8vw;
}
.top_right li:nth-child(1)::after{
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 24px;
  width: 2px;
  height: 0.8vw;
  content: "";
}
.top_right li:nth-child(2){
  font-size: 0.7vw;
}
.top_right li a{
  color: white;
}
.header_bottom {
  width: calc(100% - 30px);
  max-width: 1750px;
  margin: auto;
  height: 4.4vw;
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.logo {
  width: 13vw;
  padding: 0vw 10px 0vw 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img:nth-child(1) {
  width: 1.7vw;
}
.logo > h1 a {
  font-family: "Pretendard-Regular";
  font-size: 1vw;
  font-weight: 600;
  color: white;
  letter-spacing:3px;
  margin-left: 0.7vw;
}
.logo h1 + img {
  width: 5.5vw;
  margin-left: 1.2vw;
}
.lss {
  width: 5vw;
  align-items: center;
}
.lss > a img{
  width: 0.9vw;
  height: 0.9vw;
}
.lss > a {
  font-family: "Pretendard-Regular";
  font-size: 1vw;
  color: white;
}
.header_gnb {
  width: 53vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header_gnb>li {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 1vw;
  height: 4.4vw;
  line-height: 4.4vw;
}
.header_gnb > li > a {
  color: white;
  font-size: 1.1vw;
}
/* gnb 1뎁스 */
.header_gnb li:hover {
  color: #30488c;
}
.header_gnb li a:hover {
  color: #30488c;
}
.header_gnb .w100 {
  position: absolute;
  width: 100%;
  left: 0;
  top: 4.4vw;
  height: 0px;
  overflow: hidden;
  padding: 0 0;
  transition: all 0.3s;
  box-shadow: 0 2px 2px rgb(0, 0, 0 / 7%);
  z-index: 1000;
}
.header_gnb li:hover .w100 {
  height: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
/* gnb 2뎁스 */
.header_gnb li .inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 0.3s;
  background: white;
}
.header_gnb li ul li {
  width: 10vw;
  margin: clamp(0.4vw, 1.7vw, 0px) 0;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: flex;
  flex-direction: column;
}
.header_gnb li ul li dl dd a {
  color: #333;
  font-size: 1vw;
  font-weight: bold;
  line-height: 180%;
}
.header_gnb li ul li h3 {
  margin-top: 0.5vw;
  border: 1px solid #bebebe;
  display: flex;
  /* 새로 */
}
.header_gnb li ul li h3 a {
  color: black;
  font-weight: bold;
  line-height: 200%;
  margin-bottom: 3px;
  font-size: 0.8em;
  margin-left: 0.5vw;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
}
.header_gnb li ul li dl dd {
  margin-bottom: 0.2vw;
}
.header_gnb li ul li dl dt {
  display: flex;
  margin-left: 0.3vw;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
}
.header_gnb li ul li dl dt a {
  color: #666666;
  font-size: 0.7vw;
  line-height: 170%;
  padding-left: 0.3vw;
}
/* //투뎁스 */
.Newsearch-none {
  position: relative;
  right: 0;
  z-index: 9;
  margin: 0;
  width: 11vw;
  height: 2vw;
  padding-right: 2.3vw;
  border-radius: 0.5vw;
  background: rgba(254, 254, 254, 0.05);
  border: 1px solid #fff;
  color: #fff;
}
.Newsearch-none input {
  width: 9vw;
  height: 1.5vw;
  color: #fff;
  font-size: 0.8vw;
  padding: 0 0.5vw;
  background: none;
  border: 0 !important;
  vertical-align: top;
  outline: 0;
  
}
.Newsearch-none .btn_search_2022 {
  position: absolute;
  top: 0.4vw;
  right: 1vw;
  width: 1.2vw;
  height: 1.2vw;
  padding: 0;
  color: #fff;
  background: url(../img/header_bg2on.png) ;
  background-size: cover;
}
input::placeholder {
  color:white;
}
.full_menu {
  width: 2vw;
  height: 2vw;
  border-radius: 5px;
}
.full_menu>a>img {
  width: 100%;
  height: 100%;
}
/* //헤더 */
/* 메인 */
.sub-menu {
    float: left;
    width: 14.5vw;
    margin-right: 2vw;
/*     padding: 0 1px; */
}
.sub-menu > h2 {
    padding-top: 2vw;
    height: 10vw;
    line-height: 3vw;
    color: #333;
    font-size: 1.5vw;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #dedede;
}
.sub-menu > h2::before{
    background: url(../img/sub2_title1.png) no-repeat center;
}
.sub-menu > h2::before {
    display: block;
    width: 4vw;
    height: 3.5vw;
    margin: 0 auto 0.5vw;
    content: "";
}
.sub-menu > ul > li > a {
    display: block;
    padding: 0.8vw 2vw 0.8vw 1vw;
    line-height: 20px;
    color: #333;
    font-size: 0.9vw;
    border-bottom: 1px solid #dedede;
    letter-spacing: -0.1px;
}
.sub-menu > ul > li > a  {
    color: #000000;
    font-weight: 500;
}
.sub-menu > ul > li:hover > a{
    color: #3a79da;
    font-weight: 600;
}
/* 서브메뉴 투뎁스 */
.sub_dep2{
        display: none;
        padding: 0.8vw 1vw;
        background: #fff;
        border: 1px solid #dedede;
}
.sub-menu > ul > li:hover > .sub_dep2{
    display: block;
}
.sub_dep2 > li > a{
    display: block;
    color: #5f5f5f;
    font-size: 0.9vw;
    line-height: 1vw;
    padding-left: 0.5vw;
    letter-spacing: -1.4px;
}
.sub_dep2 > li > a:hover{
    color: #3a79da;
  
    font-weight: 600;
    text-decoration: underline;
}
.sub_dep2 > li:not(:first-child) {
    margin-top: 0.5vw;
}
/* 서브메뉴 끝  */
/* 메인컨텐츠 */
/* 컨테츠 탑 */
.content{
    position: relative;
    width: 100%;
}
.content-inner {
    width: 100%;
}
.content-top {
    position: relative;
    margin-bottom: 1.5vw;
    padding: 3vw 0 1vw 0;
    border-bottom: 1px solid #333;
}
.pagelink a{
    color: #777;
}
.content-top > h3 {
    color: #333;
    font-size: 1.8vw;
    font-weight: 700;
    margin-top: 0.8vw;
}
.content-top ul.print-zoom {
    position: absolute;
    right: 0;
    bottom: 1vw;
    border-right: 1px solid #ededed;
}
.content-top ul.print-zoom > li {
    float: left;
    height: 1vw;
    padding: 0 0.8vw;
    border-left: 1px solid #ededed;
}
button {
    overflow: visible;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
.content-top ul.print-zoom > li.li-zoom > span {
    margin: 1px 0.4vw 0 0;
    color: #7d7d7d;
    font-size: 0.9vw;
}
.content-top  ul.print-zoom > li.li-zoom > a {
    margin: 0 0 0 0.4vw;
}
/* ////컨테츠 탑 */
/* 컨테츠 바디 */
.content-body {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.content-body .section-introbox {
    width: 100%;
    border: 1px solid #bfbfbf;
    padding: 1.5vw 0vw 2.5vw;
    margin-bottom: 2.3vw
}
.content-body .section-introbox .h2-title {
    font-size: 1.2vw;
    color: #4B76A4;
    line-height: 1.4;
    padding: 1vw 18vw 1vw 12vw;
    position: relative;
}
.content-body .section-introbox .h2-title:before {
    display: inline-block;
    content: '';
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 0;
    left: 3vw;
    background: url(../img/ico_minwon_introbox.png) 50% 0 no-repeat;
}
.content-body .section-introbox .text {
    padding: 2vw 0 0 6vw;
    font-size: 0.9vw;
    color: #464646;
    line-height: 1.4;
}
.content-body .section-introbox .text ul {
    margin-bottom: 1.5vw;
}
.content-body .section-introbox .text ul li {
    padding: 2px 0 2px 0.8vw;
    position: relative;
}
.section-content {
    margin-bottom: 2em;
}
.h3-title {
    font-size: 1.2vw;
    color: #4B76A4;
    margin-bottom: 1vw;
    line-height: 1.4;
    font-weight: 600;
}
.section-subcontent {
    margin-bottom: 2vw;
    overflow: hidden;
}
.h4-title {
    font-size: 0.9vw;
    font-weight: 700;
    color: #464646;
    line-height: 1.4;
    margin-bottom: 1vw;
}
.list-dash li {
    font-size: 0.9vw;
    line-height: 1.4;
    padding: 0.2vw 0 0.2vw 0.2vw;
    position: relative;
}
.contentAdmin {
    position: relative;
    margin-top: 1.5;
    padding-right: 85px;
}
.contentAdmin .adminArea {
    border: 1px solid #c0c0c0;
    padding: 16px 0 16px 25px;
    height: 48px;
}
.contentAdmin .adminArea .left {
    width: 81%;
    float: left;
    table-layout: fixed;
}
.contentAdmin .adminArea .left li {
    display: inline-block;
}
.contentAdmin .adminArea dl dt, .contentAdmin .adminArea dl dd {
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    font-weight: 700;
}
.contentAdmin a.top {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    line-height: 46px;
    padding-top: 2px;
    background: #4B76A4;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.contentAdmin a.top:before {
    display: inline-block;
    width: 21px;
    height: 34px;
    content: '';
    background: url(../img/top_arrow.png) 0 -2px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
/* ////메인컨텐츠 */
/* /////컨테츠 바디 */
/* //메인 */
footer {
  background: #3a3849;
  padding: 0 0;
}
.footer{
  max-width: 1750px;
  width: 100%;
  margin: auto;
}
.Newfoot-top {
  padding: 1vw 0;
  border-bottom: 1px solid #565463;
  display: flex;
  align-items: center;
}
.Newfoot-meun1 {
  float: left;
  width: 70%;
  overflow: hidden;
}
.Newfoot-meun1 > ul {
  margin-left: -1.5vw;
}

.Newfoot-meun1 > ul > li {
    float: left;
    margin: 2px 0;
    padding-left: 1.6vw;
    background: url(https://www.unikorea.go.kr/unikorea/common/images/2022/foot_bg1.png) no-repeat left 0.9vw center;
}
.Newfoot-meun1 > ul > li.on > a {
  color: #eeeb00;
  font-weight: 800;
  font-size: 1vw;
}
.Newfoot-meun1 > ul > li > a {
  display: block;
  color: #fff;
  font-size: 0.8vw;
  line-height: 1vw;
}
.Newfoot-select1 {
  float: right;
  width: 30%;
  max-width: 510px;
}
.Newfoot-select1 > ul {
  margin: -6px -3px 0;
}
.Newfoot-select1 > ul > li {
  float: left;
  width: 13vw;
  margin: 6px 3px 0;
  position: relative;
}
.Newfoot-select1 > ul > li > a {
    position: relative;
    padding: 0 2.5vw 0 1.3vw;
    color: #fff;
    font-size: 1vw;
    height: 3vw;
    line-height: 1.2;
    background: #4c495f;
    display: flex;
    align-items: center;
    border-radius: 1vw ;
}
.Newfoot-select1 > ul > li.on > a {
  border-top: 0; /* 클릭시 위쪽 보더가 0이 되도록 설정 */
}
.Newfoot-select1 .show-box1 {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 9;
  width: 80%;
  max-height: 22vw;
  overflow-y: auto;
  padding: 1vw 1.3vw;
  background: #4c495f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1vw 1vw 0 0;
}
.Newfoot-select1 .show-box1 > a {
  display: table;
  color: #fff;
  font-size: 0.9vw;
  padding-bottom: 0.6vw;
}
.Newfoot-select1 .show-box1 > a:not(:first-child) {
  margin-top: 0.5vw;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.Newfoot-select1 > ul > li > a::after {
  position: absolute;
  top: calc(50% - 3.5px);
  right: 1.3vw;
  width: 0.7vw;
  height: 0.3vw;
  background: url(../img/foot_bg1.png) no-repeat;
  content: "";
  background-size: cover;
}
.Newfoot-bom {
  position: relative;
  padding: 1.3vw 0 1.5vw;
  display: flex;
  justify-content: space-between;
}
.Newfoot-copy1 {
  color: #fff;
  font-size: 0.8vw;
  line-height: 1.6;
}

.validation{
  width: 13%;
  height: 3vw;
display: flex;
}

.validation .val1 > img {
  height: 70%;
}
.validation .val2 > img {
height: 70%;
}


/* 메뉴 */

html.open {
  overflow: hidden;
}

#menu.open {
  right: 0px;
}

.page_cover.open {
  display: block;
}

.btn2 {
  display: none;
  width: 2rem;
  height: 2rem;
  right: 0px;
  top: 0px;
  z-index: 1;
  background-image: url(../img/menu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0px;
  top: 0px;
  background-image: url("../img/x.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#menu {   
  width: 23rem;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -150vw;
  z-index: 10;
  border: 1px solid #c9c9c9;
  background: #eee;
  font-weight: bold;
  transition: All 0s ease;
  overflow-y: auto;
}
.nav{
  margin-top: 3rem;
}
#menu a{
 padding:0;
 text-decoration: none;
 color: #000000;
 display: block;
 transition: 0.3s;
 margin-left: 1rem;
 }

#menu.open {
  top: 0;
  right: 0;
}

.page_cover.open {
  display: block;
}

.page_cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#menu ul { 
  width: 100%;
  
    }
    
#menu ul.nav>li {
  margin-top: 5px;
    list-style-type:none; 
    font-size:1vw;
    border-bottom: 1px solid #fff;
    }
    
.nav li>a {
    display:block; 
    width:100%; 
    height:100%; 
    line-height:50px; 
    text-align: left;
    color:#000000; 
    font-weight:bold; 
    text-decoration:none;
    font-size: 1.5rem;
    }
    
#menu ul.nav li a:hover {
  color: #3A7CDA
  ;
    }
.sub_mobile li{ 
  height: 3rem;
  border: 0;
  margin-top: 0px;
}
.sub_mobile{padding-top: 1rem;
  justify-content: center;
  background-color: white;
  gap: 0.6vw;
}
     
#menu ul.nav li .sub_mobile a {
    position:relative;
    display:block;
    line-height: 2rem;
    width:90%;
    z-index:999;
    ;
    transition: all 1s;
    font-size: 1rem;
    height: 2rem;
    border: 1px solid #bebebe;
    padding-left: 0.5rem ;

  }

#menu ul.nav li .sub_mobile a:hover {
  background-color: #3A7CDA;
  color:white;
    z-index:999;
    }


   .slide-left{
    display: none;
  }
  .slide-right{
    display: none;
  }


.section3_bottom2{
  display: none;
}